<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

</head>

<body>

    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <!-- // nav-bar -->
                {{>navbar}}
            </div>
        </div>
    </div>

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row mb-3">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left  align-items-center">
                        <figure class="errimg">
                       <img src="images/error.jpg" alt="harikesh" class="img-fluid d-flex justify-content-center align-items-center" title="error">
                        </figure>
                        <p>Welcome To Harikesh Tech World</p>
                       <h1>Opps ! 404 Error Found</h1>
                    </div>

                
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

</html>